:root {
    --form-container-bg: #f9f9f9;
    --form-input-bg: #f9f9f9;
    --form-textarea-bg: #f9f9f9;
    --form-select-bg: #f9f9f9;
    --form-submit-bg: #007bff;
    --form-submit-color: #fff;
    --form-input-color: #333;
    --form-submit-bg-hover: #0056b3;
}

/* 
:root {
    --form-input-bg: #222;
    --form-textarea-bg: #222;
    --form-select-bg: #222;
    --form-submit-bg: #0af;
    --form-input-color: #fff;
}
*/