// Color Tokens
$color-primary-blue: #303992;
$color-primary-orange: #FF7032;

$color-neutral-white: #FFFFFF;
$color-neutral-bg: #F4F4F4;
$color-neutral-icons-bg: #F3F3F8;
$color-neutral-textfield-border: #E4E5EC;
$color-neutral-drag-container: #F3F3F8;
$color-neutral-scroll-layout: #DEE0ED;
$color-neutral-stroke: #787EB8;
$color-neutral-component-fill: #FFFAF8;
$color-neutral-component-stroke: #FFE0D2;
$color-neutral-active: #FFD4C2;
$color-neutral-light-font: #8C8C8C;
$color-neutral-dark-font: #100;

// Utility
$color-success: #10b981;
$color-danger: #ef4444;
$color-warning: #f59e0b;
$color-info: #3b82f6; 