@use '../../../../styles/design-tokens' as *;

.customer-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &--two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @media (max-width: $breakpoint-sm) {
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
  }
} 