.preview-panel {
  padding: 1rem;
  
  h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--c-acc-text-primary);
  }
  
  p {
    color: var(--c-acc-text-primary);
    margin-bottom: 1rem;
  }
  
  .button-group {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  .list-items {
    margin-top: 1.5rem;
  }
}
